### Общие настройки для Visual Studio ###
## Исключить папки сборки и объектные файлы
bin/
obj/
[Bb]in/[Oo]bj/

## Файлы пользовательских настроек (например, Resharper, Visual Studio)
**/.env

## Папка настроек среды Visual Studio
/.vs

## Временные файлы
*.tmp
*.log
*.cache
*.bak
*.pidb
*.ncb

### Сборка ###
## Исключить выходные файлы сборки
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Bb]uildOutput/

### Специфичные для .NET ###
## Файлы проектов (если не используются новые форматы)
*.csproj.user

## Файлы публикации
pubxml
*.pubxml
PublishProfiles/
